[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "==1.6.0"
django = "==4.0"
python-decouple = "==3.6"
django-extensions = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
