@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main_color: #0A66C2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--white_color);
    color: var(--text_color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1440px;
}

/* TOP NAVIGATION BAR STARTS HERE*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 40px 72px 0px 72px;
    margin-bottom: 20px;
}

nav .left-nav {
    display: flex;
    align-items: center;
}

nav .middle-nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 378px; */
    height: 27px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

nav .middle-nav a {
    text-decoration: none;
    color: var(--text_color);
    margin-right: 32px;
}

nav .middle-nav a:active {
    color: var(--main_color);
}

nav a.active {
    border-bottom: 4px solid var(--main_color);
    border-radius: 6px;
}

nav .right-nav {
    width: 201px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.welcome-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    border: 1.5px solid var(--main_color);
    border-radius: 8px;
    color: var(--main_color);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--white_color);
}

.welcome-login-btn:hover {
    border: 1.5px solid var(--hover_color);
    color: var(--hover_color);
}

.welcome-login-btn:active {
    border: 1.5px solid var(--clicked_color);
    color: var(--clicked_color);
}

.welcome-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    color: var(--white_color);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--main_color);
}

.welcome-signup-btn:hover {
    background-color: var(--hover_color);
}

.welcome-signup-btn:active {
    background-color: var(--clicked_color);
}

/* NAVBAR ENDS HERE */

/* Company Service Section*/



/* COMPANY-SERVICE1 SECTION */
 .company-service-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin-top: 10%;
 

}

.sub-box {
    position: relative;
}

.pictureframe {
    display: block;
} 

.girl-picture{
    position: absolute;
    top: 13%;
    right: 13%;
} 


/* COMPANY-SERVICE1 ENDS */

/* COMPANY-SERVICE2 STARTS */
.company-service-2 {
  display: block;
}

.service-box2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 110%;

    
}


 

.classroom{
    position: relative;

}

 .classphoto{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: -19%; 
}

 .moreinfo {
    margin-top: 136px;

}  

/* SERVICE-BOX 3 BEGINS */
.service-box3{
    margin-top: 85px;
}


.vision {
    margin-left: 175px;
}

.mission {
    margin-left: 500px;
    width: 658px;
    height: 184px; 
    text-align: right;
    border: 2px solid var(--hover_color);
    border-radius: 8px;
    padding-right: 10px;
    margin-top: 40px;
}

.mission-longtext {
    
    margin-top: 10px; 
}
.top-part {
    display: flex;
    align-items: center;
    justify-content: end;
}
h2 {
    font-size: 35px;
    font-weight: 600;
    margin-right: 5px;
}

.mission-text {
    color: var(--hover_color);
    font-size: 35px;
    font-weight: 600;
    margin-right: 20px;
}
.stroke {
    margin-right: 10px;
}

/* FOOTER STARTS HERE */
footer {
    width: 100%;
    height: 438px;
    background-color: var(--main_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 57px 124px 10px 124px;
    color: var(--white_color);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-top-header {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    height: 50px;
}

.footer-top-header h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    margin: 0;
    height: 50px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer-links a,
.footer-links p {
    text-decoration: none;
    color: var(--white_color);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    margin-bottom: 8px;
}

.footer-bottom {
    display: flex;
    height: 40px;
}

.copyright {
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.copyright .footer-small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    margin-left: 6.5px;
}

.footer-line {
    margin: 0;
    margin: 0px 36px 0px 32px;
}

.socials {
    display: flex;
    align-items: center;
}

.socials .footer-small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    margin-right: 14.6px;
}

.socials svg {
    margin-right: 18.67px;
}

/* FOOTER ENDS HERE */


/* SCROLL BAR */

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main_color);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hover_color);
  }










