@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main_color: #0855A2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
    --side_navbar_width: 332px;
    --other-main: #0A66C2;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--white_color);
    color: var(--text_color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    width: 1440px;
    height: 1440px;
    
}

/* SIDE NAVIGATION BAR STARTS HERE */
/* Side nav */
/* Copy this code to implement the side nav styling */

aside {
    height: 100vh;
    width: var(--side_navbar_width);
    min-width: var(--side_navbar_width);
    background-color: var(--main_color);
    color: var(--white_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    /* fixes the side bar and prevents scrolling. Set the margin-left property of the screen by its right to 332px */
}

.aside-top {
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.top-icon {
    width: 100%;
    margin-bottom: 56px;
    padding-left: 48px;
}

.top-links {
    display: flex;
    flex-direction: column;
}

.top-links a {
    text-decoration: none;
    color: var(--white_color);
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 16px 48px;
}

.top-links a.active {
    background-color: var(--white_color);
    color: var(--text_color);
}

/* Changes the color of the active svg */
.top-links a.active svg {
    filter: invert(100%) sepia(100%) saturate(8%) hue-rotate(118deg) brightness(101%) contrast(104%);
}

.top-links a svg {
    margin-right: 34px;
}

.aside-bottom {
    width: 100%;
    padding-bottom: 48px;
}

.aside-bottom a {
    text-decoration: none;
    color: var(--white_color);
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 48px;
}

.aside-bottom a svg {
    margin-right: 34px;
}

/* SIDE NAVIGATION BAR ENDS HERE */


/* Edit page */
main {
    width: calc(100% - 332px);
    padding: 80px 120px 148px 48px;
    overflow-y: auto;
    margin-left: 332px;
    /* notify if changes are made */
}

/* SEARCH BAR STARTS HERE */
/* Search bar */
/* Set the width of your main content to calc(100vw - 332px) to prevent overflow. Refer to my code for main tag above */
.search {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 88%;
    height: 100%;
    padding: 16px;
    border: 2px solid #84B2E0;
    border-radius: 8px;
    margin-right: 20px;
}

.search-text {
    height: 40px;
    width: 100%;
    margin-left: 19px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.search-text:focus {
    outline: none;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--white_color);
    cursor: pointer;
}

/* SEARCH BAR ENDS HERE */


.undersearch {
  display: flex;
  margin-top: 15px;
}


.back-icon,
.debtor-detail {
  margin-left: 15px;
}

.current-debtor a {
  text-decoration: none;
  color: var(--main_color);
}

.debtor-detail-heading {
  width: 175px;
  height: 33px;
}


.nameofdebtor {
  display: flex;
  justify-content: space-between;
}


.johndoe-detail {
    font-weight: 200;
font-size: 35px;
line-height: 38px;
}

.johndoeemail {
  position: absolute;
  top: 265px;
  color: #d2d2d2;
}

.detail-btn {
  display: flex;
  color: #ffffff;
  margin-top: 60px;
}

.detail-btn1 {
  text-align: center;

  width: 104px;
  height: 35px;
  background: var(--main_color);
  border-radius: 8px;
  border: 2px solid var(--main_color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.detail-btn1 a {
  text-decoration: none;
  color: #ffffff;
  font-family: "manrope", sans-serif;
}

.detail-btn2 {
  text-align: center;
  gap: 8px;
  width: 120px;
  height: 35px;
  background: #ffffff;
  border-radius: 8px;
  border: 2px solid var(--main_color);
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.detail-btn2 a {
  text-decoration: none;
  color: #0855a2;
  font-family: "manrope", sans-serif;
} 


.detail-btn3 {
  width: 120px;
  height: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  border: 2px solid var(--text_color);
  border-radius: 8px;
}

.detail-btn3 a {
  text-decoration: none;
  color: var(--text_color);
  font-family: "manrope", sans-serif;
} 

.debtowed {
  margin-top: 25px;
  font-size: 28px;
  margin-right: 190px;
}

.debtowed p {
  position: absolute;
  font-size: 16px;
  top: 42%;
  left: 77.2%;
  color: var(--disabled_color);
}

.debtowed button {
  font-size: 14px;
  margin-top: 50px;
  position: absolute;
  top: 44%;
  left: 74.5%;
  background-color: var(--white_color);
}

/* ACTUAL DETAILS PART */
.actual-details {
  margin-top: 40px;
}

.actual-details button {
  width: 750px;
  height: 56px;
  border: 2px solid #667080;
  border-radius: 8px;
  font-family: "manrope", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-weight: 400;
  font-style: normal;
}

.actual-details p {
  color: #667080;
}

.actual-details div {
  margin-top: 50px;
}


/* EDIT-DEBTORS POP-UP */




/* ACTUAL DETAILS PART */

.actual-details-part {
  margin-top: 35px;
  width: 576px;
  height: 100%;
  color: var(--text_color);
  
}

.actual-details-part div {
  margin-top: 40px;
}

.actual-details-part input{
  width: 100%;
  height: 56px;
  border: 2px solid #667080;
  border-radius: 8px;
  font-family: "manrope", sans-serif;
  color: var(--text_color);
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-weight: 400;
  font-style: normal;
}

input::placeholder {
  color: var(--text_color);
}


.Debt-description input {
  height: 100px;
}

.save-btn input {
  background-color: var(--other-main);
  color: white;
  margin-top: 40px;
  font-family: "manrope", sans-serif;
  text-align: center;
  border: 2px solid var(--main_color);
}


.form {
  width: 1440px;
  height: 1440px;

}

.edit-popup {
  background-color: var(--white_color);
  padding: 0px 0px;
  
  
}

/* SCROLL BAR */

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main_color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover_color);
}

