* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  user-select: none;
}

:root {
  --main-color: #0855A2;
  --font-color: #FEFEFE;
  --border-color: #0A66C2;
  --dark-font-color: #292929;
}

.box {
  position: relative;
  width: 1440px;
  height: 1039px;
  background: var(--font-color);
}

.top-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 36px;
  position: absolute;
  width: 213.63px;
  height: 63.34px;
  left: 76px;
  top: 53px;

}

.innerbox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
  gap: 24px;
  position: absolute;
  width: 860px;
  height: 548.75px;
  left: 290px;
  top: 245px;
  outline: 3px solid var(--border-color);
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 16px;
  gap: 24px;
  width: 860px;
  height: 148.75px;
  flex: none;
  order: 0;

}

.center {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exit-icon {
  width: 18.75px;
  height: 18.75px;
  color: var(--main-color);

}

h2 {
  width: 755px;
  height: 44px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: var(--dark-font-color);
  margin-left: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h4 {
  width: 828px;
  height: 38px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  align-items: center;
  text-align: center;
  color: #1F1F1F;
  flex: none;
  order: 2;
  flex-grow: 0;
}

img {
  width: 177px;
  height: 156px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.proceed-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 4px;
  width: 323px;
  height: 70px;
  background: var(--main-color);
  border: 1.5px var(--main-color);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  color: var(--font-color);
}

p {
  width: 556px;
  height: 38px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1F1F1F;
  flex: none;
  order: 1;
  flex-grow: 0;
}


@media only screen and (max-width: 700px) {
  body {
    position: relative;
    width: 428px;
    height: 926px;
    border: 3px solid var(--border-color);
  }

  .box {
    position: relative;
    outline: none;
    text-align: center;
    align-content: center;

  }

  .top-icon {
    position: absolute;
    width: 119.79px;
    height: 34.9px;
    left: 154px;
    top: 228px;

  }

  .sub {
    outline: none;
  }

  .innerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 424px;
    height: 288.4px;
    left: 2px;
    top: 319px;
  }
}