@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

/* Side nav */
/* Copy this code to implement the side nav styling */

aside {
    height: 100vh;
    width: 332px;
    min-width: 332px;
    background-color: #d2d2d2;
    color: #242433;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    /* fixes the side bar and prevents scrolling. Set the margin-left property of the screen by its right to 332px */
}

.aside-top {
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.top-icon {
    width: 100%;
    margin-bottom: 56px;
    padding-left: 48px;
}

.icon {
    width: 160px;
    height: 48px;
    background-color: #eef1f4;
    border: 3px solid #667080;
}

.top-links {
    display: flex;
    flex-direction: column;
}

.top-links a {
    text-decoration: none;
    color: #242433;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 48px;
}

.top-links a.active {
    background-color: #ffffff;
}

.top-links a svg {
    margin-right: 34px;
}

.aside-bottom {
    width: 100%;
    padding-bottom: 48px;
}

.aside-bottom a {
    text-decoration: none;
    color: #242433;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 48px;
}

.aside-bottom a svg {
    margin-right: 34px;
}


/* Edit page */
main {
    width: 100%;
    padding: 80px 120px 148px 48px;
    overflow-y: auto;
    margin-left: 332px;
}

/* Search bar */
.search {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 16px;
    border: 2px solid #d2d2d2;
    border-radius: 8px;
    margin-right: 41.25px;
}

.search-text {
    height: 40px;
    width: 100%;
    margin-left: 19px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.search-text:focus {
    outline: none;
}

.search-icons svg {
    margin-right: 20.48px;
}

/* Page content */

h1 {
    margin: 32px 0px;
    font-size: 24px;
    font-weight: 500;
}

.user-detail {
    display: flex;
    align-items: center;
}

.user-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: #667080;
}

.user-info {
    margin-left: 16px;
}

.user-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #242433;
    margin: 0;
}

.user-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #808080;
    margin: 0;
}

.user-btns {
    margin: 26.58px 0px 32px 0px;
    height: 40px;
}

.change-pic {
    width: 158px;
    height: 100%;
    padding: 8px 16px;
    background-color: #808080;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}

.delete-pic {
    width: 158px;
    height: 100%;
    padding: 8px 16px;
    color: #808080;
    border-radius: 8px;
    border: 1px solid #808080;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #ffffff;
    margin-left: 8px;
    cursor: pointer;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #242433;
    margin: 0;
}

.account-info {
    margin: 32px 0px 24px 0px;
}

.user-input {
    margin-bottom: 32px;
}

.user-input label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.user-input input,
.pswd {
    margin-top: 8px;
    width: 569px;
    height: 56px;
    border: 2px solid #808080;
    border-radius: 8px;
    padding: 16px;
}

.user-input input:focus,
.pswd input:focus {
    outline: none;
}

.dropdown {
    display: flex;
}

.user-input select {
    margin-top: 8px;
    width: 276.5px;
    height: 56px;
    border: 2px solid #808080;
    border-radius: 8px;
    padding: 16px;
    margin-right: 16px;
}

.pwd-change {
    margin: 32.42px 0px 32px 0px;
}

.pswd {
    display: flex;
    align-items: center;
}

.pswd input {
    border: none;
    height: 50px;
    flex-grow: 2;
}

.pswd button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.submit {
    width: 569px;
    height: 56px;
    background-color: #242433;
    border: none;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}