@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
  

}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #FEFEFE;
    color: #3D3D3D;
    user-select: none;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    padding: 48px 72px 0px 72px;
}

nav .left-nav {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    color: #292929;
}

nav .middle-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 421px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
}

nav .middle-nav a {
    text-decoration: none;
    color: #292929;
}

nav .middle-nav a:hover {
    border-bottom: 4px solid #292929;
    border-radius: 6px;
}

nav .right-nav {
    width: 201px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.welcome-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 8px 16px;
    color: #3D3D3D;
    cursor: pointer;
    text-decoration: none;
}

.welcome-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 8px 16px;
    border: 1.5px solid #7E7E7E;
    border-radius: 8px;
    color: #3D3D3D;
    cursor: pointer;
    text-decoration: none;
    background-color: #FFFFFF;
}

/* search bar */
.form1 {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
    
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  
  form.nosubmit {
   border: none;
   padding: 0;
  }
  
  input.nosubmit {
    border: 1px solid #555;
    width: 600px;
    height: 56px;
    padding: 9px 4px 9px 40px;
     background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
     cursor: pointer;
     opacity: 0.7;
  }


/* FAQ */
.faq {
    padding: 20px 80px 100px 79px;
    color: #292D32;
}
.faq-small{
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
}
.faq-top {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
}

.faq-header h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 400px;
}

.faq-header p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.faq-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-contact a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    text-decoration: none;
    color: #292929;
}


.faq-bottom .faq-closed {
    width: 445px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    margin: 0px 0px 10px 460px;
    background-color: white;
    border: 1px solid #696969;
    border-radius: 8px;
    cursor: pointer;
}

.faq-opened {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 216px;
    width: 445px;
    padding: 16px 32px;
    margin: 0px 0px 10px 460px;
    background-color: white;
    border: 1px solid #696969;
    border-radius: 8px;
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-question-head {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #292929;
    margin: 0;
    margin-right: 20px;
}

.faq-answer-body {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    line-height: 27px;
    margin: 0;
    margin-top: 19px;
    text-align: start;
}

/* SVG style */
.svg-style{
    margin-left: 20px;
}
.svg-style1{
    margin-left: 85px;
}
.svg-style2{
    margin-left: 150px;
}
.svg-style3{
    margin-left: 100px;
}


/* end statement */
.end-statement{
text-align: center;
}