@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
  

}
:root {
    --main_color: #0A66C2;
    --footer_color: #0855A2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--white_color);
    color: var(--text_color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main_color);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover_color);
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #FEFEFE;
    color: #3D3D3D;
    user-select: none;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    padding: 48px 72px 0px 72px;
}

nav .left-nav {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    color: #292929;
}

nav .middle-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 421px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
}

nav .middle-nav a {
    text-decoration: none;
    color: #292929;
}

nav .middle-nav a:hover {
    border-bottom: 4px solid #292929;
    border-radius: 6px;
}

nav .right-nav {
    width: 201px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.welcome-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 8px 16px;
    color: #3D3D3D;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #0a66c2;
    border-radius: 7px;
}

.welcome-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 8px 12px;
    border: 1.5px solid #0a66c2;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: #0a66c2;
}

/* FAQ */

.faq-small{
    text-align: center;
    margin-top: 50px;
   
}
.faq-top {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
}

.faq-header h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 400px;
}

.faq-header p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}



/* end statement */
.end-statement{
text-align: center;
}

/* search bar */
.search {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 16px;
    border: 2px solid #0a66c2;
    border-radius: 8px;
    margin-left: 25%;
    margin-top: 10%;
}

.search-text {
    height: 40px;
    width: 100%;
    margin-left: 19px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.search-text:focus {
    outline: none;
}

.search-icons svg {
    margin-right: 20.48px;
}

/* FOOTER STARTS HERE */
footer {
    width: 100%;
    height: 438px;
    background-color: var(--footer_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 57px 124px 10px 124px;
    color: var(--white_color);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-top-header {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.footer-logo {
    height: 50px;
}

.footer-top-header h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer-links a,
.footer-links p {
    text-decoration: none;
    color: var(--white_color);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    margin-bottom: 8px;
}

.footer-bottom {
    display: flex;
    height: 40px;
}

.copyright {
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.copyright .footer-small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    margin-left: 6.5px;
}

.footer-line {
    margin: 0;
    margin: 0px 36px 0px 32px;
}

.socials {
    display: flex;
    align-items: center;
}

.socials .footer-small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    margin-right: 14.6px;
}

.socials img {
    margin-right: 18.67px;
}

/* ACCORDION MENU */
.accordion {
    width: 40%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: 2px solid #808080;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25); */
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }