@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --main_color--: #0a66c2;
  --text_color--: #292929;
  --white_color--: #ffffff;
  --hover_color--: #3380cc;
  --clicked_color--: #074481;
  --disabled_color--: #a8a8a8;
  --side_navbar_width--: 332px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Manrope", sans-serif;
  background-color: var(--white_color);
  color: var(--text_color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  

}

.left-nav {
  position: absolute;
  top: 30px;
  left: 45px;

}

main {
  width: 650px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px var(--hover_color--) solid;
  text-align: center;
  margin-top: 50px;

  
}

.enteremail {
  font-size: 18px;
  font-weight: 440;
  margin-top: 5px;

}


.forgot {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.close{
    position: absolute;
    top: 0px;
    left: 92%;
    font-size: 55px;
    font-weight: 200;
    transform: rotate(45deg);
    cursor: pointer;
    
}


.close a {
  text-decoration: none;
  color: var(--text_color--);
}

.close a:hover {
  color: red;
}

input {
  width: 600px;
  height: 60px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #0855a2;
}
form {
  margin-top: 40px;
}

.form label {
    position: absolute;
    left: 25px;
    top: 165px;
    
}

.form input {
  font-size: 15px;
    font-family: "Manrope", sans-serif;
}

input::placeholder { 
  padding: 7px;
}

.continue input{
    margin-top: 40px;
    background-color: var(--main_color--);
    color: var(--white_color--);
    cursor: pointer;
}

.account {
  font-weight: 500;
font-size: 20px;
line-height: 27px;
color: var(--text_color--);

}

.account a {
  text-decoration: none;
  color: var(--main_color--);
}


/* SCROLL BAR */

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main_color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover_color);
}