@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main_color: #0A66C2;
    --footer_color: #0855A2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--white_color);
    color: var(--text_color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main_color);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover_color);
}

/* TOP NAVIGATION BAR STARTS HERE*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 40px 72px 0px 72px;
    margin-bottom: 20px;
}

nav .left-nav {
    display: flex;
    align-items: center;
}

nav .middle-nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 378px; */
    height: 27px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

nav .middle-nav a {
    text-decoration: none;
    color: var(--text_color);
    margin-right: 32px;
}

nav .middle-nav a:active {
    color: var(--main_color);
}

nav a.active {
    border-bottom: 4px solid var(--main_color);
    border-radius: 6px;
}

nav .right-nav {
    width: 201px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.welcome-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    border: 1.5px solid var(--main_color);
    border-radius: 8px;
    color: var(--main_color);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--white_color);
}

.welcome-login-btn:hover {
    border: 1.5px solid var(--hover_color);
    color: var(--hover_color);
}

.welcome-login-btn:active {
    border: 1.5px solid var(--clicked_color);
    color: var(--clicked_color);
}

.welcome-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    color: var(--white_color);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--main_color);
}

.welcome-signup-btn:hover {
    background-color: var(--hover_color);
}

.welcome-signup-btn:active {
    background-color: var(--clicked_color);
}

.showNavDropdown {
    display: none;
}

.hide {
    display: none;
}

.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    right: 5px;
    width: 95%;
}

.show button {
    height: 50px;
    cursor: pointer;
    background-color: var(--main_color);
    border: none;
    border-bottom: 2px solid var(--white_color);
    color: var(--white_color);
    font-size: 16px;
    font-weight: 500;
}

.show button:hover {
    background-color: var(--hover_color);
}

.show button:active {
    background-color: var(--clicked_color);
}

/* TOP NAVIGATION BAR ENDS HERE */



/* Welcome Page */
.welcome {
    height: calc(100vh - 70px);
    padding: 0px 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.welcome-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.welcome-top article {
    width: 45%;
    padding-right: 20px;
}

.welcome-top .tired {
    font-size: 48px;
    font-weight: 600;
    line-height: 66px;
    margin: 0;
}

.welcome-top .tired2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #333333;
    margin: 16px 0px 50px 0px;
}

.welcome-top-btn {
    display: flex;
}

.welcome-top button {
    width: 210px;
    height: 57px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main_color);
    color: var(--white_color);
    border: none;
}

.welcome-top button:hover {
    background-color: var(--hover_color);
}

.welcome-top button:active {
    background-color: var(--clicked_color);
}


/* A background image will be used instead */
.welcome-top-right {
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.welcome-top-right-pics {
    width: 499px;
    height: 704px;
}

.welcome-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.welcome-bottom-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #0c0c0c;
    text-align: center;
    margin-bottom: 24px;
}

.welcome-bottom-icons {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon1,
.icon2 {
    width: 80px;
    height: 80px;
}

.icon3 {
    width: 80px;
    height: 109px;
}

.icon4 {
    width: 80px;
    height: 100px;
}

.icon5 {
    width: 80px;
    height: 97px;
}

/* Cookies */

.cookies-back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookies {
    display: flex;
    /* width: 40%; */
    width: 553px;
    /* height: 57%; */
    height: 553px;
    background-color: #fefefe;
    border-radius: 8px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    color: #000000;
}

.cookies p {
    margin: 0
}

.cookies-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg-btn {
    background-color: var(--white_color);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookies-head {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
}

.cookies-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.cookies_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 20px;
    color: var(--text_color);
}

.cookie,
.necessary {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 8px 30px 0px 0px;
    margin-bottom: 8px;
}

.cookie {
    border-top: 1px solid var(--text_color);
}

.text-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}

.text-body {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding-top: 8px;
}

/* .checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    background-color: #fcfcfc;
    border: 1.5px solid #000033;
    cursor: pointer;
} */

/* Size the label */
.switch {
    position: relative;
    /* display: inline-block; */
    width: 32px;
    height: 16px;
}

/* Hide the input */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* slider background */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

/* sets the background color when checked */
.switch input:checked+.slider {
    background-color: var(--main_color);
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px var(--main_color);
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.btn-container {
    margin-top: 8px;
    display: flex;
}

.btn {
    width: 180px;
    height: 54px;
    padding: 16px 32px;
    background-color: var(--white_color);
    color: var(--main_color);
    border: 1.5px solid var(--main_color);
    border-radius: 8px;
    margin-right: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    color: var(--hover_color);
    border: 1.5px solid var(--hover_color);
}

.btn:active {
    color: var(--clicked_color);
    border: 1.5px solid var(--clicked_color);
}


/* Snippet */

.after-welcome {
    width: 100%;
    /* height: 360px; */
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text_color);
    text-align: center;
    padding: 32px 0px 8px 0px;
    margin-top: 40px;
}

.after-welcome p {
    margin: 0;
}

.after-welcome-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.after-welcome-head {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    width: 80%;
}

.snippet-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.snippet {
    margin-top: 45px;
    width: 230px;
    /* height: 218px; */
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
}

.snippet-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snippet-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    padding: 16px 0px;
}

.snippet-message {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 28px;
    width: 92%;
}

/* Welcome Continued */
.welcome-contd {
    /* padding: 104px 181px 50px 181px; */
    padding: 104px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-section {
    width: 80%;
    min-width: 70%;
    height: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
}

/* .welcome-section article {
    width: 47%;
} */

.welcome-sect-head {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
}

.welcome-sect-body {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #3d3d3d;
    width: 512px;
}

.welcome-contd-pic {
    /* width: 47%; */
    display: flex;
}

.welcome-contd-pic img {
    width: 512px;
    height: 380px;
}

/* What schools using the plaform are saying */
.schools {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px 72px;
}

.schools h2 {
    width: 40%;
    font-size: 24px;
    font-weight: 500;
    color: #292929;
    margin-right: 24px;
    line-height: 27px;
}

.school-say {
    display: flex;
    color: #3d3d3d;
}

.school-card-left {
    display: flex;
    flex-direction: column;
}

.school-card-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-container {
    /* width: 420px; */
    height: 250px;
}

.left-top {
    display: flex;
    align-items: flex-end;
    margin: 0px 34px 22px 0px;
}

.left-bottom {
    display: flex;
    justify-content: flex-end;
    margin: 0px 34px 0px 0px;
}

.right-top {
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 22px 0px;
}

.card1 {
    width: 425px;
    height: 210px;
    background-color: #fefefe;
    border: 1px solid var(--main_color);
}

.card2 {
    width: 357px;
    height: 174px;
    background-color: #f8fbff;
    border: 1px solid var(--main_color);
}

.card1,
.card2 {
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    height: 55px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.school-pic {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 50%;
}

.school-person {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.card-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

/* Try my debtor for free */
.try-debtor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 321px;
    width: 100%;
    background-color: #F8F8F8;
    text-align: center;
    color: #292D32;
    background-image: url("../img/Frame 83.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.try-debtor h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 46px;
    margin: 0;
    color: var(--main_color)
}

.try-debtor p {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    margin: 24px 0px;
}

.try-debtor button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 54px;
    background-color: var(--main_color);
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ecebeb;
    cursor: pointer;
}

.try-debtor button:hover {
    background-color: var(--hover_color);
}

.try-debtor button:active {
    background-color: var(--clicked_color);
}

/* FAQ */
.faq {
    padding: 70px 72px;
}

.faq-top {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.faq-header h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 55px;
    margin: 0;
}

.faq-header p {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
}


.faq-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 45px;
}

.faq-bottom-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.faq-left,
.faq-right {
    height: 294px;
}

.faq-bottom .faq-closed {
    width: 445px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    margin: 0px 0px 10px 0px;
    background-color: white;
    border: 1px solid #696969;
    border-radius: 8px;
    cursor: pointer;
}

.faq-opened {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 216px;
    width: 445px;
    padding: 16px 32px;
    margin: 0px 0px 10px 0px;
    background-color: white;
    border: 1px solid #696969;
    border-radius: 8px;
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-question-head {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #292929;
    margin: 0;
    margin-right: 20px;
}

.faq-answer-body {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    line-height: 27px;
    margin: 0;
    margin-top: 19px;
    text-align: start;
}

/* FOOTER STARTS HERE */
footer {
    width: 100%;
    height: 438px;
    background-color: var(--footer_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 57px 124px 10px 124px;
    color: var(--white_color);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-top-header {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.footer-logo {
    height: 50px;
}

.footer-top-header h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer-links a,
.footer-links p {
    text-decoration: none;
    color: var(--white_color);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    margin-bottom: 8px;
}

.footer-bottom {
    display: flex;
    height: 40px;
}

.copyright {
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.copyright .footer-small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    margin-left: 6.5px;
}

.footer-line {
    margin: 0;
    margin: 0px 36px 0px 32px;
}

.socials {
    display: flex;
    align-items: center;
}

.socials .footer-small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    margin-right: 14.6px;
}

.socials img {
    margin-right: 18.67px;
}

/* FOOTER ENDS HERE */

@media screen and (max-width: 576px) {

    /* START COPY HERE */

    ::-webkit-scrollbar {
        width: 5px;
    }

    nav {
        padding: 16px;
        padding-top: 40px;
    }

    nav .middle-nav,
    nav .right-nav {
        display: none;
    }

    .showNavDropdown {
        display: block;
        cursor: pointer;
    }


    /* #top-dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 70px;
        right: 5px;
        width: 95%;
    }

    #top-dropdown button {
        height: 50px;
        cursor: pointer;
    } */

    /* END COPY HERE */

    .welcome {
        padding: 0px 16px;
        /* height: auto; */
        height: calc(100vh - 70px);
    }

    .welcome-top-right {
        padding: 0;
    }

    .welcome-top article {
        width: 61%;
        margin: 74px 0px 40px;
        padding: 0;
    }

    .welcome-top .tired {
        font-size: 20px;
        line-height: 27px;
    }

    .welcome-top .tired2 {
        font-size: 14px;
        line-height: 19px;
        margin: 8px 0px 16px 0px;
    }

    .welcome-top button {
        width: 136px;
        height: 40px;
        font-size: 16px;
        line-height: 22px;
    }

    .welcome-top-right-pics {
        width: 100%;
        height: 300px;
    }

    .cookies {
        width: 400px;
        height: 211px;
    }

    .svg-btn {
        transform: scale(0.9);
    }

    .cookies-head {
        font-size: 20px;
        line-height: 27px;
    }

    .cookies-body {
        margin: 8px 0px 16px;
        /* width: 90%; */
    }

    .cookie,
    .necessary {
        display: none;
    }

    .btn-container {
        width: 100%;
    }

    .btn {
        width: 151px;
        height: 40px;
        font-size: 16px;
        line-height: 22px;
    }

    .welcome-bottom-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        width: 85%;
    }

    .welcome-bottom-icons {
        width: 85%;
    }

    .icon1,
    .icon2 {
        width: 48px;
        height: 48px;
    }

    .icon3 {
        width: 35px;
        height: 48px;
    }

    .icon4 {
        width: 32px;
        height: 40px;
    }

    .icon5 {
        width: 40px;
        height: 48px;
    }


    .after-welcome-container {
        width: 95%;
    }

    .after-welcome-head {
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        width: 72%;
    }

    .snippet-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .snippet {
        width: 50%;
        padding: 8px;
        margin-top: 10px;
    }

    .welcome-contd {
        padding: 50px 16px;
    }

    .welcome-contd .three {
        display: none;
    }

    .welcome-section {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .welcome-section article {
        width: 100%;
    }

    .welcome-sect-head {
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
    }

    .welcome-sect-body {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    .welcome-contd-pic {
        order: 1;
        width: 100%;
        justify-content: center;
        margin-top: 24px;
    }

    .welcome-contd-pic img {
        width: 100%;
        max-width: 500px;
    }

    .schools {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        padding: 50px 16px;
    }

    .schools h2 {
        width: 100%;
        font-size: 20px;
        margin: 0;
        margin-bottom: 24px;
        text-align: center;
    }

    .school-say {
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .card-container {
        height: auto;
        margin-bottom: 20px;
        justify-content: flex-start;

    }

    .school-card-right,
    .school-card-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }

    .right-top,
    .left-bottom {
        margin: 0;
        display: flex;
        align-items: flex-start;
    }

    .left-top,
    .right-bottom {
        display: none;
    }

    .try-debtor {
        height: auto;
        margin-bottom: 40px;
    }

    .try-debtor h2 {
        font-size: 24px;
        line-height: 33px;
        margin-top: 32px;
    }

    .try-debtor p {
        font-size: 16px;
        line-height: 22px;
        margin: 16px 0px;
    }

    .try-debtor button {
        width: 250px;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 19px;
    }

    .faq {
        display: none;
    }


    /* START COPY HERE */
    footer {
        height: auto;
        flex-wrap: wrap;
        padding: 46px 20px 20px 20px;
        padding: 16px;
    }

    .footer-top {
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
        width: 95%;
    }

    .footer-top-header {
        margin-top: 24px;
        width: 180px;
    }

    .footer-top-header h4 {
        font-size: 20px;
        line-height: 27px;
    }

    .footer-links a,
    .footer-links p {
        font-size: 14px;
        line-height: 19px;
    }

    .footer-bottom {
        margin-top: 24px;
    }

    .copyright,
    .footer-line {
        display: none;
    }

    .socials img {
        margin-right: 10px;
    }
}