@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main_color: #0A66C2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
    --side_navbar_width: 332px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white_color);
    color: var(--text_color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main_color);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover_color);
}

.loading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 50px 0px;
}

.loading-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-left: 9px;
}

.one,
.two,
.three,
.four {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    background-color: var(--white_color);
    border: 1px solid var(--main_color);
    color: var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.one,
.two,
.three,
.four {
    background-color: var(--main_color);
    border: none;
    color: var(--white_color);
}

.line {
    flex-grow: 1;
    height: 0px;
    border: 0.5px solid #000000;
    margin: 0px 25px 0px 8px;
}

main {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    margin: 0;
    font-size: 34px;
    font-weight: 600;
    line-height: 46px;
    margin-top: 55px;
}

.document {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #3d3d3d;
    margin: 8px 0px 16px 0px;
    width: 54%;
}

.upload {
    width: 100%;
    height: 454px;
    background-color: #f4f4ff;
    border-radius: 20px;
    margin-bottom: 35px;
}

.before-upload {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.drag {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #333333;
    text-align: center;
    margin-top: 30px;
}

.or {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    color: #333333;
    margin-top: 30px;
}

.browse,
.delete_upload {
    width: 254px;
    height: 68px;
    padding: 16px 32px;
    background-color: #f4f4ff;
    border: 1.5px solid var(--main_color);
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: var(--main_color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.browse:hover,
.delete_upload:hover {
    border: 1.5px solid var(--hover_color);
    color: var(--hover_color);
}

.browse:active,
.delete_upload:active {
    border: 1.5px solid var(--clicked_color);
    color: var(--clicked_color);
}

.valid {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: var(--text_color);
    display: flex;
    align-items: center;
}

label {
    height: 24px;
    width: 24px;
    position: relative;
}

label input {
    opacity: 0;
    width: 0;
    height: 0;
}


label span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    width: 24px;
    background-color: #fcfcfc;
    border: 1.5px solid var(--main_color);
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sets the background color when checked */
label input:checked+span {
    background-color: var(--main_color);
}

label input:focus+span {
    box-shadow: 0 0 1px var(--main_color);
}

.valid p {
    margin-left: 16px;
}

.okay {
    color: var(--text_color);
}

.err {
    color: #fc1010;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.enter {
    width: 70%;
    height: 76px;
    border: none;
    border-radius: 8px;
    background-color: var(--main_color);
    padding: 16px 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    color: var(--white_color);
    cursor: pointer;
    margin: 71px 0px 112px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter:hover {
    background-color: var(--hover_color);
}

.enter:active {
    background-color: var(--clicked_color);
}

/* File upload styling */

.doc_upload {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #333333;
    text-align: center;
}


/* DOM styling */
.cover {
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.popup {
    width: 35%;
    height: 55%;
    border-radius: 20px;
    display: flex;
}

.color {
    background-color: #0A66C2;
    width: 20px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.blank {
    text-align: center;
    background-color: #fefefe;
    flex-grow: 2;
    border-radius: 0px 20px 20px 0px;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 58px;
}

.close-btn {
    border: none;
    background-color: #fefefe;
    cursor: pointer;
    margin: 16px 16px;
}

.status {
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    margin: 0;
    margin: 32px 0px 27px 0px;
}

.para {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #3d3d3d;
    margin: 0;
    margin-bottom: 61px;
}

.dom-btn {
    padding: 16px 32px;
    width: 152px;
    height: 56px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--main_color);
}

.dom-btn:hover {
    background-color: var(--hover_color);
}

.dom-btn:active {
    background-color: var(--clicked_color);
}

.status-success {
    color: #4ECA5A;
}

.status-failed {
    color: #FF4040;
}

@media screen and (max-width: 576px) {

    ::-webkit-scrollbar {
        width: 5px;
    }

    main {
        width: 95%;
    }

    .loading {
        height: 20px;
    }

    .loading img {
        transform: scale(0.6);
    }

    .loading-text {
        display: none;
    }

    .one,
    .two,
    .three,
    .four {
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 500;
    }

    .line {
        margin: 0px 5px;
    }

    h1 {
        display: none;
    }

    h2 {
        margin: 0;
        font-size: 28px;
        line-height: 38px;
        margin-top: 55px;
    }

    .document {
        width: 100%;
        margin: 0;
        font-size: 18px;
        line-height: 25px;
        margin: 8px 0px;
    }

    .upload {
        height: 257px;
    }


    .drag {
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        margin-top: 8px;
        color: #1f1f1f;
    }

    .or {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #1f1f1f;
        margin: 0;
        margin: 8px;
    }

    .browse,
    .delete_upload {
        width: 154px;
        height: 37px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 8px;
    }

    .valid p {
        font-size: 14px;
        line-height: 19px;
        margin-left: 9px;
    }

    .enter {
        margin: 19px 0px 90px 0px;
        width: 100%;
        height: 55px;
        font-weight: 400;
    }

    .cover {
        align-items: flex-end;
    }

    .popup {
        width: 100%;
        height: 55%;
        padding: 0px 10px;
    }

    .color {
        display: none;
    }

    .blank {
        border-radius: 20px 20px 0px 0px;
    }

    .status {
        font-size: 28px;
        line-height: 38px;
        margin: 9px 0px 15px 0px;
    }

    .para {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 43px;
    }

    .dom-btn {
        width: 85%;
    }
}