@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
   
}

:root {
    --main-color: #0855A2;
    --font-color: #fefefe
  }

  body {
    user-select: none;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
}

div p{
    margin-top: 0px;
    margin-bottom: 60px;
}

div h2{
    margin-bottom: 5px;
    color: #0855A2;
    margin-top: 20px;
}

.right{
    width: 100%;
    height: 100vh;
    flex: 46%;
    flex-wrap: wrap;
    background: white;
    padding: 100px 50px 100px 50px;

border-left: 1px solid #9E9E9E
}

.left{
    width: 636px;
    height: 1024px;
    flex: 54%;
    flex-wrap: wrap; 
   
background-color:  #0855A2;

}

.state{
    margin-right: 45px;
}

.img{
    justify-content: center;
    width: 500px;
    display: flex;
    align-items: center;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;

}

select{
    border-radius: 5px;
    padding: 10px;
    width: 30%; 
    padding: 15px;
    
}

input[type="email"],
input[type="submit"],
input[type="password"],
input[type="text"]{
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    color: #0855A2;

}


input[type="submit"]{
   background-color:  #0855A2;
   color: white;
   width: 50%;
   border-radius: 8px;
   padding: 15px;
}
