@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main_color: #0A66C2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
    --side_navbar_width: 332px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--white_color);
    color: var(--text_color);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main_color);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover_color);
}


main {
    width: 70%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.loading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 50px 0px;
}

.loading-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-left: 9px;
}

.one,
.two,
.three,
.four {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    background-color: var(--white_color);
    border: 1px solid var(--main_color);
    color: var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.one,
.two {
    background-color: var(--main_color);
    border: none;
    color: var(--white_color);
}

.line {
    flex-grow: 1;
    height: 0px;
    border: 0.5px solid #000000;
    margin: 0px 25px 0px 8px;
}

.verify {
    width: 90%;
    height: 764px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text_color);
}

h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 84px;
    margin: 0;
}

.check {
    font-size: 40px;
    font-weight: 400;
    line-height: 55px;
    margin: 0;
    margin-top: 40px;
}

.enter {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    margin: 16px 0px 32px 0px;
    text-align: center;
    width: 80%;
}

.code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 72px;
}

.code input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    color: var(--main_color);
    border: none;
    border-bottom: 8px solid var(--main_color);
    background-color: var(--white_color);
    outline: none;
    transition: all 0.1s;
}

.err {
    border-bottom: 8px solid #FC1010;
}

.timer {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    margin-bottom: 41px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

span {
    color: #FC1010;
    border-bottom: 2px solid #FC1010;
    margin-left: 13px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 65px;
    padding: 16px 32px;
    margin-bottom: 70px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    background-color: var(--main_color);
    border: none;
    color: var(--white_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
    background-color: var(--hover_color);
}

button:active {
    background-color: var(--clicked_color);
}

.resend {
    font-size: 34px;
    font-weight: 400;
    line-height: 46px;
    margin: 0;
    color: var(--main_color);
}

a {
    text-decoration: none;
    color: #e98326;
}

@media screen and (max-width: 576px) {

    ::-webkit-scrollbar {
        width: 5px;
    }

    main {
        width: 95%;
    }

    .loading {
        height: 20px;
    }

    .loading img {
        transform: scale(0.6);
    }

    .loading-text {
        display: none;
    }

    .one,
    .two,
    .three,
    .four {
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 500;
    }

    .line {
        margin: 0px 5px;
    }

    .verify {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 40px;
        line-height: 55px;
        margin: 55px 0px 0px;
    }

    .check {
        font-size: 28px;
        line-height: 38px;
        margin: 72px 0px 24px 0px;
        width: 90%;
    }

    .enter {
        width: 90%;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 64px;
    }

    .code {
        width: 70%;
    }

    .code input {
        width: 31px;
        height: 44px;
        border-bottom: 5px solid var(--main_color);
        font-size: 29px;
        line-height: 44px;
    }

    .timer {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        width: 70%;
    }

    button {
        width: 70%;
        height: 70px;
        font-size: 20px;
        font-size: 400;
        line-height: 27px;
    }

    .resend {
        font-size: 20px;
        line-height: 27px;
    }
}